body {
    font-family: 'Cabin';
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    height: 125px;
    background-color: #FA7921;
}

ul {
    display: none;
}

#img-logo {
    height: 91px;
}

.boton {
    height: 80px;
    width: 180px;
    color: white;
    font-weight: bold;
    background-color: #FA7921;
    border: 3px solid #F0692B;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    text-align: center;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: white;
}

section {
    height: 515px;
    position: relative;
}

#section-1 {
    height: 515px;
    position: relative;
}

section > * {
    position: absolute;
}

.carousel-inner {
    height: 100%;
    position: relative;
}

.slide {
    position: relative;
    height: 100%;
    background: linear-gradient(206deg, #FDE74C 0, #E55934 100%);
}

.slide > * {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 30px;
    width: 268px;
    font-weight: bold;
    top: 60px;
}

#redes-slide {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    right: 0;
    height: 220px;
    align-items: flex-start;
    margin-left: 20px;
    bottom: 10px;
    font-size: 30px;
}

.h2-slide {
    color: white;
    font-size: 30px;
}

p {
    top: 150px;
}

.p-slide {
    color: white;
    font-size: 28px;
    width: 300px;
    line-height: 34px;
}

.img-slide {
    height: 170px;
    top: 280px;
}

.fondo1 {
    background: linear-gradient(206deg, #CCD645 0, #9BC53D 100%);
}

.fondo2 {
    background: linear-gradient(206deg, #FFFFFF 0, #5BC0EB 121.72%);
}

.h2-section {
    color: rgba(0, 0, 0, 0.75);
}

.p-section {
    font-size: 20px;
    line-height: 24px;
    width: 275px;
    font-weight: 500;
    color: rgba(51, 51, 51, 0.85);
}

#h2-section-2, #p-section-2, #h2-section-4, #p-section-4 {
    text-align: right;
    right: 25px;
}

#img1-section-2 {
    bottom: 30px;
    left: 30px;
}

#img2-section-2 {
    bottom: 15px;
    right: 30px;
}

#h2-section-3, #p-section-3 {
    text-align: left;
    left: 25px;
}

#img1-section-3 {
    right: 25px;
    width: 200px;
    bottom: 10px;
}

#img2-section-3 {
    width: 149px;
    left: 25px;
    bottom: 70px;
}

#section-4 {
    height: 480px;
}

#p-section-4 {
    top: 110px;
}

#button-section-4 {
    right: 90px;
    bottom: 110px;
    width: 200px;
    padding: 0 40px;
}

#img-section-4 {
    bottom: 0;
    right: 25px;
}

footer {
    height: 150px;
    background-color: white;
}

#redes-footer {
    margin: 25px auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
}

hr {
    border: 1px solid #333333;
}

#copyright {
    font-weight: 700;
    font-size: 13px;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-top: 20px;
}

@media screen and (min-width: 500px) {
    #h2-section-2, #p-section-2, #h2-section-4, #p-section-4 {
        right: 35px;
    }

    #h2-section-3, #p-section-3 {
        left: 35px;
    }

    #img1-section-2 {
        width: 30vw;
    }

    #img1-section-3 {
        width: 50vw;
    }

    #img-section-4 {
        transform: matrix(-1, 0, 0, 1, 0, 0);
        left: 25px;
        width: 50vw;
    }

    #button-section-4 {
        left: 90px;
    }
}

@media screen and (min-width: 671px) {
    #img1-section-2 {
        top: 20px;
    }

    #img2-section-2 {
        left: 0;
        right: 0;
        margin: auto;
        width: 25vw;
    }

    #img1-section-3 {
        margin: auto;
        left: 0;
        right: 0;
    }

    #img2-section-3 {
        left: auto;
        right: 45px;
        top: 100px;
        width: 30vw;
    }

    #button-section-4 {
        bottom: 180px;
        left: 135px;
        width: 250px;
        height: 100px;
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 40vw;
        height: 20vh;
    }
    
    li {
        list-style: none;
        margin-bottom: 5px;
        cursor: pointer;
        font-weight: 400;
    }

    li a {
        color: white;
    }

    li a:hover {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    h2 {
        width: 400px;
    }

    .p-section {
        width: 400px;
    }

    #p-section-4 {
        top: 130px;
    }

    .h2-slide {
        width: 350px;
    }

    .p-slide {
        width: 350px;
        top: 120px;
    }

    .img-slide {
        height: 200px;
        top: 220px;
    }

    #img1-section-2, #img2-section-3 {
        width: 250px;
    }

    #img2-section-2 {
        width: 200px;
    }

    h2 {
        width: 50vw;
    }

    .p-section {
        width: 50vw;
    }

    h2 {
        font-size: 35px;
    }

    .p-section {
        font-size: 25px;
        line-height: 30px;
    }

    #img1-section-3 {
        width: 350px;
    }

    #img-section-4 {
        width: 400px;
    }

    #redes-slide {
        display: none;
    }

    section {
        height: 600px;
    }

    .p-section {
        top: 180px;
    }

    #copyright {
        font-size: 18px;
    }
    
}

@media screen and (min-width: 1024px) {
    .h2-slide {
        top: 150px;
        right: auto;
        left: 50px;
        text-align: left;
        font-size: 35px;
        width: 500px;
    }

    .p-slide {
        top: 210px;
        right: auto;
        left: 50px;
        text-align: left;
        font-size: 30px;
        width: 550px;
    }

    .img-slide {
        height: 400px;
        left: auto;
        right: 50px;
        top: 50px;
    }

    h2 {
        top: 80px;
        width: 60vw;
    }

    .p-section {
        width: 60vw;
    }

    section {
        height: 700px;
    }
    
    #img1-section-2 {
        left: 50px;
        top: 50px;
    }

    #img2-section-2 {
        width: 300px;
    }

    #img1-section-3 {
        width: 600px;
    }

    #img2-section-3 {
        width: 330px;
        right: 30px;
    }
}

@media screen and (min-width: 1172px) {
    .h2-slide, .p-slide{
        left: 150px;
    }

    .img-slide {
        right: 150px;
    }

    .p-section {
        width: 700px;
    }

    #section-4 {
        height: 600px;
    }

    #h2-section-2, #p-section-2, #h2-section-4, #p-section-4 {
        right: 100px;
    }

    #h2-section-3, #p-section-3 {
        left: 100px;
    }

    #p-section-4 {
        top: 150px;
    }

    #img2-section-3 {
        right: 80px;
    }

    #img-section-4 {
        left: 100px;
    }

    #button-section-4 {
        left: 200px;
        width: 300px;
        height: 120px;
        font-size: 25px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #copyright {
        font-size: 22px;
    }
}